*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    /* background-color: blue; */
   
}

.menu{
    width: 100%;
    display: flex;

    
}

.resto{
    width: 100%;
    height: 250px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

    .resto_header{
        width: 100%;
        height: 180px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 20px; */
        /* padding-left: 150px; */
        /* padding-right: 150px; */
        gap: 1%;
    }

        .resto_pic{
            width: 135px;
            background-color: pink;
            /* width: 150px; */
            height: 125px;
            justify-content: center;
        }

        .resto_desc{
            /* margin: 20px;   */
            display: flex;
            flex-direction: column;
            justify-content: start;  
            width: 75%;   
            gap: 3vh;
        }

            .resto_name{
                background-color: aliceblue;
                width: 100%;
                height: 50px;
                /* margin: 20px; */
            }

            .resto_category{
                background-color: antiquewhite;
                height: 50px;
                width: 100%;
                left: 200px;
                /* margin: 20px; */
            }

    .resto_rate{
        background-color: chartreuse;
        height: 70px;
        /* margin-left: 150px;
        margin-right: 150px; */
        display: flex;
        width: 85%;
    }

        .review{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100px;
            background-color: blueviolet;
        }

        .price{
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100px;
            background-color:azure;
        }

.cart{
    /* width: 28%; 
    display: flex; */



     /* disiniwoi */
    background-color: white;
   
    display: none;
    flex-direction: column;
    height:100vh;
    position: fixed;
    align-items: center;
    right: 0;
    gap: 30px;
   
}

    .headercart{
        width: 100%;
        height: 130px;
        display: flex;
        flex-direction: row;
        border-bottom: 5px solid black;
        height: 15vh;
    }

        .backtolist{
            width: 10%;
            display: flex;
            justify-content: center;
            padding-bottom: 7vh;
            
        }
            .backtolist button{
                background-color: transparent;
                border: none;
                font-size: 30px;
            }

        .carttitle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            background-color: green;
        }

    .cartmid{
        width: 90%;
        background-color: brown;
        display: flex;
        height: 70vh;
        flex-direction: column;
        gap: 2vh;
        overflow-y: auto; 
        overflow-x: hidden;
        scrollbar-width: none
    }

        .cartmenulist{
            display: flex;
            background-color: green;
            gap: 20px;
            height: 100px;
            align-items: center;
        }
        .quantity{
            width: 10%;
            display: inline-flex;
            flex-direction: column;
            height: 100px;
            border: none;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background-color: gray;

        }
            .quantity button, input{
                background-color: transparent;

            }
            .quantity button{
                height: 35px;
                border: none;
            }
            .quantity input{
                height: 30px;
                pointer-events: none;
                border: none;
                text-align: center;
            
            }
        .picturemenu{
            width: 100px;
            height: 100px;
            background-image: url('/picture/kucing.jpg');
            background-position: center;
            background-size: cover;
        }

        .descmenu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }

    .totalmenu{
        background-color: green;
        height: 15vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 5px solid black;
        padding: 5%;
        align-items: center;
        gap: 20px;
    }
        .totalmenu button{
            width: 100%;
            height: 5vh;
        }
        .totallist{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }















    .optionalist{
        display: none;
    }   

.cardlist{
    background-color: red;
    width: 100%;
    /* width: 72%; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
   
}
    .cardlist button{
        position: fixed;
        right: 0;
        top :50vh;
    }


.cardlistnye{
    background-color: green;
    width: 85%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    
}
.card{
    
    background-color: aquamarine;
    width: 390px;
    height: 250px;
    border-radius: 10px;
}


















